<h1><%= @patient.name %></h1>

<ul>
<% @patient.appointments.each do |appointment| %>
    <li><%= appointment.appointment_datetime.strftime("%B %d, %Y at %k:%M") %></li>
    <p><%= link_to appointment.doctor.name, doctor_path(appointment.doctor) %></p>
<% end %>
</ul>