<h1><%= @doctor.name %></h1>
<h2>Department: <%= @doctor.department %></h2>
<h2>Appointments:<%  @doctor.appointments.each do |appointment|%></h2>
        <li><%= link_to (appointment.patient.name), patient_path(appointment.patient) %></li>
        <p><%= appointment.appointment_datetime.strftime("%B %d, %Y at %k:%M") %></p>
    <% end %>
